{% extends 'blog/base_blog.html' %}

{% block title %}
    {{ user.username }}
{% endblock %}

{% block content %}
        <div class="container border border-grey w-50 rounded py-4">
          <div class="row">
              <div class="col align-self-center">
              <img src="{{found_user.profile_image.url}}" alt="" height="200" width="200" class="rounded mx-5">
          </div>
              <div class="col align-self-start">
            <p class="fs-1">User profile</p>
              <p>User name: {{found_user.username}}</p>
              <p>E-mail: {{found_user.email}}</p>
              <p>Bio: {{found_user.bio}}</p>
              <p>Date joined: {{found_user.date_joined}}</p>
                  {% if is_owner %}
        <a href="{% url 'user_update_url' %}" class="btn btn-primary">Edit profile</a>
        {% endif %}
              </div>
          </div>
        </div>

        <div class="mw-50 mx-auto">
            <p class="text-center fs-2">{{found_user.username|title}}'s posts</p>
        </div>
    {% for post in posts %}
        {% include 'blog/includes/post_card.html' %}
    {% endfor %}
{% endblock %}