{% extends 'base.html' %}

{% block title %}
 Edit Profile
{% endblock %}

{% block content %}
<form action="{% url 'user_update_url' %}" method="post" enctype="multipart/form-data" style="max-width: 500px; margin: auto;">
        {% csrf_token %}
        <div class="form-group">
        {% for field in form %}

            {%if field.errors %}
            <div class="alert alert-danger">
                {{ field.errors }}
            </div>
            {% endif %}

            {{field}}


        {% endfor %}
        </div>
        <button type="submit" class="btn btn-primary mt-3 ">apply changes</button>
</form>

{% endblock%}