{% extends 'blog/base_blog.html' %}

{% block content %}
  <form method="post" style="max-width: 450px; margin: auto;" class="border rounded">
    {% csrf_token %}
      <h3 class="mt-3 mx-5">Please log in</h3>
      {%for field in form%}
    <div class="mx-5 my-4">
      {{ field }}
      <label> {{field.label}} </label>
    </div>
      {% endfor %}
    <p class="mt-2 mb-2 mx-5 text-body-secondary">Don't have an account?<a href="{% url 'sign_up_url' %}"> Sign up</a></p>
    <button class="btn btn-primary w-50 py-2" type="submit" style="margin-left: 6rem;">Log in</button>

    <p class="mt-3 mb-2 text-body-secondary">©2023</p>
  </form>

{% endblock %}