{% extends 'blog/base_blog.html' %}

{%block title %}
    News
{% endblock %}

{% block content %}
<!--    channel-->
    <div class="container" style="max-width: 550px;">
        <h3 class="my-3">Channel:</h3>
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">{{channel.title}}</h5>
            <p class="card-text">{{ channel.description }}</p>
            <a href="{{channel.link}}" class="card-link">link</a>
          </div>
        </div>
        <h3 class="my-3">Channel news:</h3>
    </div>

<!--    items-->
    <div class="container border border-grey rounded" style="max-width: 550px;">
    {% for item in items %}
        <h5>{{ item.title }}</h5>
        <p class="fw-light">Publication time: {{ item.pubDate }}</p>
        <h6 class="mb-5">see the full version: <a href="{{item.link}}">link</a></h6>
        <p></p>
    {% endfor %}
    </div>
{% endblock %}

