{% extends 'blog/base_blog.html' %}

{% block title %}
    {{post.title}} delete
{% endblock %}


{% block content %}
    <form action="{% url 'post_delete_url' slug=post.slug %}" method="post" class="card">
        {% csrf_token %}
        <div class="card-body">
        <h2 class="card-text">Are you sure you want to delete #{{post.title}} tag?</h2>
        <a href="{{ post.get_absolute_url }}" class="btn btn-light">Cancel</a>
        <button type="submit" class="btn btn-primary">Submit</button>
        </div>

    </form>
{% endblock %}