{% extends 'blog/base_blog.html' %}

{% block content %}
  <form method="post" style="max-width: 450px; margin: auto;" class=" mw-border rounded">
    {% csrf_token %}
    <h3 class="mt-3 mx-5">Enter your details</h3>
      {%for field in form%}
    <div class="mx-5 my-4">
      {{ field }}
      <label> {{field.label}} </label>
    </div>
    {% if field.errors %}
    <div class="alert alert-danger">
      {{field.errors}}
    </div>
      {% endif %}
      {% endfor %}
    <button class="btn btn-primary w-75 mx-5" type="submit">Sign up</button>
    <p class="mt-5 mb-3 text-body-secondary">©2023</p>
  </form>

{% endblock %}
