{% extends 'blog/base_blog.html' %}

{% block content %}
  <form method="post" style="max-width: 450px; margin: auto;">
    {% csrf_token %}
      {%for field in form%}
    <div class="m-5">
      {{ field }}
      <label> {{field.label}} </label>
    </div>
    {% if field.errors %}
    <div class="alert alert-danger">
      {{field.errors}}
    </div>
      {% endif %}
      {% endfor %}
    <button class="btn btn-primary w-100 py-2" type="submit">Sign up</button>
    <p class="mt-5 mb-3 text-body-secondary">©2023</p>
  </form>

{% endblock %}
