{% extends 'blog/base_blog.html' %}

{% block title %}
  tag creation
{% endblock %}

{% block content %}
  <div class="container align-items-center" style="max-width: 450px;">
    <h1 class="mt-5 mb-5" >Create your own tag!</h1>
  </div>
  <form action="{% url 'tag_create_url' %}" method="post" style="max-width: 300px; margin: auto;">
  {% csrf_token %}


        <div class="form-control mb-3">
          {%for field in form%}
          {%if field.errors %}
            <div class="alert alert-danger">
              {{ field.errors }}
            </div>
          {% endif %}

          {{field}}
          {% endfor %}
          <button type="submit" class="btn btn-primary w-100 mb-3">Create tag</button>
        </div>




    </form>

{% endblock %}
