{% extends 'blog/base_blog.html' %}

{% block title %}
    {{tag.title}} delete
{% endblock %}


{% block content %}
 <div class="container w-50 border border-grey rounded">
    <form action="{% url 'tag_delete_url' slug=tag.slug %}" method="post" class="text-center mx-auto my-5">
        {% csrf_token %}
        <div class="card-body">
        <h3 class="card-text">Are you sure you want to delete "{{tag.title}}" tag?</h3>

             <div class="col-md-12 text-center my-3">
                <a href="{{ post.get_absolute_url }}" class="btn btn-light">Cancel</a>
                <button type="submit" class="btn btn-danger">Submit</button>
             </div>


        </div>

    </form>
</div>
{% endblock %}