{% extends 'blog/base_blog.html' %}


{% block title %}
    All tags!
{% endblock %}

{% block content %}

   <div class="card mb-2" style="width: 25rem; margin: auto;">
        <h2 class="mb-5" style="margin: auto;">Tags in this blog:</h2>
<!--       search bar-->
       <form class="d-flex container mb-3" action="{% url 'all_tags_url' %}" role="search" style="max-width: 400px;">
        <input class="form-control me-2" type="search" placeholder="Search tag" aria-label="Search" name="tag_search">
        <button class="btn btn-outline-primary" type="submit">Search</button>
       </form>

        {% for tag in tags %}
            <p><a href="{{ tag.get_absolute_url }}">#{{ tag.title }}</a></p>
        {% endfor %}

    </div>
    {% if request.user.is_authenticated %}
    <div class="col-md-12 text-center">
        <a href="{% url 'tag_create_url' %}" class="btn btn-primary">Create tag</a>
    </div>
    {% endif %}
{% endblock %}