<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
        {% block title %}
            blog-title
        {% endblock %}
    </title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
  </head>
  <body>
    <div class="container">
        <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">

      <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
        <li><a href="{% url 'home_page_url' %}" class="nav-link px-2 ">Home</a></li>
        <li><a href="{% url 'all_posts_url' %}" class="nav-link px-2">Posts</a></li>
        <li><a href="{% url 'all_tags_url' %}" class="nav-link px-2">Tags</a></li>
      </ul>
            {% if request.user.is_authenticated %}
      <div class="col-md-3 text-end">
        <a href="{% url 'user_profile_url' user_id=request.user.id %}" class="btn btn-outline-primary me-2">{{user.username}}</a>
        <a href="{% url 'log_out_url' %}" class="btn btn-primary">Log out</a>
      </div>
          {% else %}
            <div class="col-md-3 text-end">
        <a href="{% url 'log_in_url' %}" class="btn btn-outline-primary me-2">Login</a>
        <a href="{% url 'sign_up_url' %}" class="btn btn-primary">Sign-up</a>
      </div>
            {% endif %}
    </header>
    </div>
        {% block content %}
            <h1>Welcome aboard!</h1>
        {% endblock %}
        {% block paginator %}
        {%  endblock %}
    {% block footer %}

    {% endblock %}
</div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
  </body>
</html>